:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: black;
  background: #d3e4f8;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  margin: 0;
  padding: 0;

}
.Calendar-container{
  
  display: flex;
  flex-direction: row;
  align-items: center;
  
  .Return-date{
    margin: 0;
    width: 2.251vw;
    text-align: center;
    cursor: pointer;
  }
  .Calendar{
    height: 100vh;
    overflow-y: auto;
    width: 93vw;
    position: relative;
    top: 32vh;
  }
  .Next-Date{
    text-align: center;
    width: 2.251vw;
    cursor: pointer;
  }
  .Nav-calendar-type{
    z-index: 11;
    display: flex;
    flex-direction: row;
    padding: 5px;
    height: auto;
    box-sizing: border-box;
    border-top: 1px solid #00000055;
    border-bottom: 1px solid #00000055;
    background: #d3e4f8;
    position: fixed;
    top:0;
    left: 2.2vw;
    width: 91.94vw;

    .calendar-type-option{
      background: #d3e4f8;
      z-index: 10;
      flex: 1;
      text-align: center;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      img{
        height: 5.41vh;
      }
    }
    .calendar-type-option:hover{
      border: 1px solid #000000;
      border-radius: 5px;
      box-shadow: 0px 0px 5px #000000;
      transition: all ease 0.3s;
    }
    .calendar-type-option:hover img{
      transform: scale(1.2);
      transition: all ease 0.5s;
    }
    .calendar-type-option:hover span{
      transform: scale(1.2);
      transition: all ease 0.5s;
    }
  }
}
.DayNames-container{
  z-index: 10;
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 93vw;
  top: 15vh;
  box-sizing: border-box;
  background: #d3e4f8;
  .info-Calendar{
    text-align: center;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #00000055;
    align-content: space-between;
    span{
      box-sizing: border-box;
      padding: 3vh;
      flex: 1;
      font-size: 1.46dvw;
    }
  }
  
}

.daysCalendar-container{
  
  width: 93vw;
  display: grid;
  box-sizing: border-box;
  grid-template-columns: repeat(7,1fr);
  span{
    border-bottom: 0.1vh solid #00000055;
    /* border-right: 0.1vh solid #00000055; */
  }
  /* & span:nth-child(7){
    border-right: none;
  }
  & span:nth-child(14){
    border-right: none;
  }
  & span:nth-child(21){
    border-right: none;
  }
  & span:nth-child(28){
    border-right: none;
  }
  & span:nth-child(35){
    border-right: none;
  }
  & span:last-child{
    border-right: none;
  } */
  >span{
    padding-left: 0.44vw;
    padding-right: 0.44vw;
    display: flex;
    flex-direction: column;
    height: 15.46vh;
    width: auto;
    overflow-y: hidden;
  }
  > .day-Month-container:hover{
    box-shadow: 0.1vh 0.1vh 0.3vh  #0099cc;
    background: #a2e6fd55;
  }
  .nav-conatiner{
    display: flex;
    flex-direction: row;
    .show-content{
      cursor: pointer;
    }
  }
  .Date-Info{
    position: relative;
    top:0;
    left: 0;
    font-size: smaller;
    border: 0;
    flex: 3;
  }
  .Add-Session{
    flex: 1;
    cursor: pointer;
    border: 0;
    padding: 0;
    img{
      position: relative;
    }
  }

  .Feriado{
    position: relative;
    bottom:0;
    font-size: 1.8dvh;
    border: 0;
  }

  .Session{
    color: #ffffff;
    border: 0.5px solid #000657d8;
    background: #000657d8;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.5dvh;
    padding: 2px;
  }
  
}
.weekCalendar-container{
  display: grid;
  box-sizing: border-box;
  grid-template-columns: repeat(8,1fr);
  position: relative;
  top: 0dvh;
  width: 93vw;
  .day-week-container{
    .nav-conatiner.week:hover{
      box-shadow: 0px 0px 8px #09c;
      background: #a2e6fd55;
    }
  }

  .day-week-container:hover canvas{
    background: #23bdf055;
  }
  >span{
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 12.431vh;
    width: auto;
    overflow-y: hidden;
  }

  .day-week-container{
    border: 0.5px solid #00000055;
    box-sizing: border-box;
    height: auto;
    background: transparent;
    width: auto;
    .nav-conatiner.week{
      border: 1px solid #40c5f156;
      height: 5.484vh;
      small{
        overflow: visible;
        z-index: 3;
      }
    }
    canvas{
      overflow-x: auto;
    }
  }
  .Add-Session.week{
    flex: 1;
    cursor: pointer;
    border: 0;
    padding: 0;
    &img{
      position: relative;
    }
  }
}

.Session-Info:not(empty){
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0.5vh;
  right: 0;
  border: 2px solid#00000055;
  border-radius: 10px;
  background: #a2e6fddd;
  padding: 5px;
}
.info-button{
  display: flex;
  .Close-button{
    flex: 2;
    align-self: flex-end;
    position: relative;
    left: 0;
    border: 0;
    padding: 0;
    margin: 0;
    cursor: pointer;
  }
  .delete-button{
    align-self: flex-end;
    position: relative;
    left: 0;
    border: 0;
    padding: 0;
    margin: 0;
    cursor: pointer;
  }
}

.List-Session-Info{
  border: 0;
  margin: 0;
}

.Major-container{
  z-index: 20;
  overflow-y: auto;
  position: fixed;
  left:30dvw;
  top:2vh;
  border: 2px solid#00000055;
  border-radius: 10px;
  background: #a2e6fddd;
  width: 40vw;
  height: auto;
  max-height: 90vh;
  padding: 10px;
  h3{
    text-align: center;
  }
  .input-contaner{
    display: flex;
    flex-direction: column;
    width: auto;
    input{
      width: auto;
  }
  input{
    margin: 4px;
    width: auto;
    padding: 3px;
    border-radius: 5px;
    border: 2px solid #00000088;
    background: transparent;
  }
    input:focus ~ label{
      position: relative;
      top: 0;
      order: 1;
      color: inherit;
      display: block;
      transition: all ease 0.3s;      
    }
    input:focus{
      order: 2;
    }
    input:focus::placeholder{
      color: transparent;
    }
  label{
    position: absolute;
    top: 0;
    color: transparent;
    opacity: 60%;
  }
  }

  .button-container{
    display: flex;
    align-content: center;
    justify-content: center;
    button{
      border: 1px solid white;
      padding: 3px;
      margin-right: 1.464vw;
      border-radius: 10px;
      background: #32809b;
      min-width: 7vw;
      small{
        position: absolute;
        color: transparent;
      }
    }
    button:hover{
      cursor: pointer;
      transform: scale(1.02);
      display: flex;
      transition: all ease 0.3s;
      small{
        position: relative;
        color: inherit;
        justify-content: center;
        align-content: center;
        transition: all ease 0.1s;
        font-size: 1.024vw;
        transition: all ease 0.3s;
      }
    }
  }
  .time-container{
    display: flex;
    flex-direction: column;
    .input-contaner{
      display: flex;
      flex-direction: row;
    }
  }
  nav>img{
    cursor: pointer;
  }
  ul{
    text-align: left;
    li{
      padding: 2px;
      font-style: italic;
    }
  }
}

@media( width > 500px){
  .return-home.container{
    position: fixed;
    bottom: 0;
    left: 0;
    background: #d3e4f8aa;
    border: 2px solid #0296c7;
    height: 5vh;
    width: 5vw;
    cursor: pointer;
    span{
      display: none;
      width: 0;
      visibility: hidden;
    }
    img{
      height: 100%;
      width: 100%;
    }
  }
  .return-home.container:hover{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 7vw;
    transition: all ease 0.8s;
    border-radius: 20px;
  }
  .return-home.container:hover span{
    display: flex;
    visibility: visible;
    width: 100%;
    transition: all ease 0.7s;
  }
  .return-home.container:hover img{
    width: 50%;
  }
}
@media( width <= 500px){
  .return-home.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 16vw;
    transition: all ease 0.8s;
    position: fixed;
    bottom: 0;
    left: 0;
    background: #d3e4f8aa;
    border: 2px solid #0296c7;
    height: 5vh;
    span{
      display: flex;
      visibility: visible;
      width: 100%
    }
    img{
      width: 50%;
    }
  }
}