.LweekCalendar-container{
    display: grid;
    box-sizing: border-box;
    grid-template-columns: repeat(4,1fr);
    position: relative;
    top: 0vh;
    width: 93vw;
    .day-Lweek-container{
      .nav-conatiner.week:hover{
        box-shadow: 0px 0px 8px #09c;
        background: #a2e6fd55;
      }
    }
  
    .day-Lweek-container:hover canvas{
      background: #23bdf055;
    }
    >span{
      padding: 0;
      display: flex;
      flex-direction: column;
      height: 10.51vh;
      width: auto;
      overflow-y: hidden;
    }
  
    .day-Lweek-container{
      border: 0.5px solid #00000055;
      box-sizing: border-box;
      height: auto;
      background: transparent;
      width: auto;
      .nav-conatiner.Lweek{
        border: 1px solid #40c5f156;
        height: 4.637vh;
        small{
          overflow: visible;
          z-index: 3;
        }
      }
    }
    .Add-Session.week{
      flex: 1;
      cursor: pointer;
      border: 0;
      padding: 0;
      img{
        position: relative;
      }
    }
  }